
@font-face{
    font-family: myfont;
    src: url(../font/AdobeClean-Regular.ttf);
}

*{
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: myfont;
}



.topbar{
    height: 50px;
    background-color: #000;
}

.col-align{
    padding: 14px 0px;
}

.col-align2{
    padding: 14px 0px;
}

.date{
    color: #fff;
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
    display: inline-flex;
}

.date h6{
    padding: 0 10px;
    border-right: 1px solid #fff;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 14px;
}

.day{
    font-size: 18px;
    line-height: 0;
    color: #F36A10;
    font-weight: bold;
}


.date p{
    padding: 0 10px;
    font-size: 16px;
    background-color: #3A3A3A;
    margin-left: 10px;
    border-radius: 20px;

}


.address{
    text-align: right;
}

.address ul{}

.address ul .bar{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 0 10px;
}

.address ul .single-bar{
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.address ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}

.social{

    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50px;

}

.social:hover{
    background: #0e76a8;
    transition: 0.5s;
}

.mr-5{
    margin-right: 5px!important;
    color: #F36A10;
}

.flag{
    padding: 0;
    margin-top: 8px;
    background-color: #5c636a00!important;
    border: none!important;
}

.flag:hover{
    background-color:transparent;
    border: none;
}

.dw-container{
     padding: 5px;
     min-width: 0;
}

.flag-size{
    width: 30px;
}

.dropdown{
    text-align: center;
}


.search-form{
    border-radius: 20px;
    border: none;
    background: #f7f7f7;
}

.search-field{
    border: none!important;
    background-color: #E9E8E8;
    border-radius: 50px;
}

.search-field:hover{
    border: none;
}

.btn-search{
    background-color: #E9E8E8;
    border: none;
    border-radius: 50px;
}

.btn-search i{
    color: #F36A10;
}

.doller{
    color: #F36A10;
}


.navbar-light .navbar-nav .nav-link {
    color: #202020;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f36a10;
    transition: 0.5s;
}

.navbar-light .navbar-nav .btn-create{
    border: 1px solid #f36a10;
    background: #f36a10;
    color: #fff;
    border-radius: 3px;
}

.navbar-light .navbar-nav .btn-create:hover{
    border: 1px solid #F8800B;
    background: #F8800B;
    color: #fff;
    transition: 0.5s;
}

.fluid-adjust{
    height: 50px;
}


/* Hero Area CSS */

.inner-size{
    /* height: 100vh; */
}

 .carousel {
    margin-top: 115px;
}


.caption-adjust{
    text-align: left;
    top: 22%;

}

.caption-adjust h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.caption-adjust p{
    font-size: 24px!important;
    line-height: 1.2;
    font-weight: 400;
    padding-right: 30%;
    margin-bottom: 30px;

}

.custom-btn{
    padding: 13px 26px;
    border-radius: 0;
    border-color: #F36A10!important;
    background-color: #F36A10!important;
    font-size: 24px;
}

.custom-btn:hover{
    border-color: #F8800B! important;
    background-color: #F8800B! important;
}

.adjust-carousel{
    bottom:5%;
}

.adjust-carousel .adjust-indicator{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid #fff;
}

.adjust-carousel .adjust-indicator.active{
    border-color: #F36A10! important;
    background-color: #F36A10! important;
}



/* Category Css */

.category{
    padding: 80px 0;
}

.category h3{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.category hr{

    background-color: #F36A10;
    height: 2px;
    width: 15%;
    text-align: center;
    margin-bottom: 30px;
}

.category h6{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}


.category .inner-size{
    height: auto;
}

.item .box h5{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.adjust-row{
    margin: 0;
}

.col-gap{
    padding: 0;
}


.category .inner-size .box {}

.category .owl-theme .item .box .adjust-caption {
    top: 10%;
    /* left: 130px;
    right: unset; */
}


.category .inner-size .box .adjust-caption i{}


.category .inner-size .box .adjust-caption h5{
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;


}



/* Featured Css */


.featured{
    padding: 80px 0;
    background-color: #F8F8F8;
}

.featured h3{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.featured hr{

    background-color: #F36A10;
    height: 2px;
    width: 15%;
    text-align: center;
    margin-bottom: 30px;
}

.featured h6{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.featured .card{
    border: 1px solid transparent;
    border-radius: 13px;
    box-shadow: 0px 0px 5px 0px;
    margin-bottom: 30px;
}

.featured .card .user-img{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50px;
}

.featured .card .card-body{}

.featured .card .card-body ul{
    display: inline-block;
    padding: 0;
    margin-bottom: 10px!important;
}

.featured .card .card-body ul li{
    list-style: none;
}

.featured .card .card-body ul li i{}

.featured .card .card-body h5{
    text-transform: uppercase;
    font-size: 16px;
    color: #F36A10;
    margin-bottom: 5px;
}

.featured .card .card-body p{
    color: #a7a7a7;
}


.featured .adjust-container{
    
}

.precentage-lebel{
    position: absolute;
    right: 9%;
    bottom: 27%;
    color: #202020;
    font-weight: 700;
}

.custom-card-text{
    text-align: right;
    margin-bottom: 5px;
}

.name-text{
    font-size: 12px;
    margin-top: 8px;
}

.name-text .adjust-row{
    padding: 0;
}


.featured .card .card-body .calender {
    text-align: right;
}

.featured .card .card-body .calender ul{
    margin-bottom: 0px!important;
    margin-top: 10px;
}

.featured .card .card-body .calender ul li{
    font-size: 12px;
}

.featured .card .card-body .calender ul li i{
    color: #f36a10;
}

.border-top{
    border-top: 1px solid #dee2e6!important;
    padding-top: 10px;
}

.page-div{
    margin-top: 40px;
}

.page-number{
    margin: 0 5px;
}

.page-link{
    color: #202020;
}

.page-link:hover{
    background-color: #f36a10;
    color: #fff;
    transition: 0.5s;
}

.page-number.active .page-link{
    border-color: #f36a10;
    background-color: #f36a10;
}



/* Counter Section CSS */

.counter{
    background: url(../images/bg-2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.counter .img-box{
    text-align: center;
}

.counter .img-box img{
    width: 100px;
    height: 100px;
    object-fit: cover;

}

.counter .img-box h3{
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.counter .img-box p{
    font-size: 20px;
    color: #F36A10;
    font-weight: 20px;
}


/* Newsletter Css */

.newsletter{
     background: url(../images/bg-3.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.newsletter .text-area{
    
}

.newsletter .text-area h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.newsletter .text-area p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.newsletter .email{
    text-align: center;
    padding-top: 30px;

}

.newsletter .email .input-field{
    width: 60%;
    padding: 13px 15px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.newsletter .email .subscribe-btn{

    border: 1px solid #F36A10;
    background-color: #F36A10;
    border-radius: 5px;
    color: #fff;
    vertical-align: unset;
    padding: 13px 24px;
    font-size: 16px;
    margin-left: 10px;

}

.newsletter .email .subscribe-btn:hover{

    border: 1px solid #F8800B;
    background-color: #F8800B;
    transition: 0.5s;
}

footer{
    background-color: #202020;
    padding: 50px 0;
}

footer .widget-1{
    padding-right: 25%;
}

footer .widget-1 img{
    width: 70%;
    padding-bottom: 20px;
}

footer .widget-1 p{
    color: #fff;
    font-size: 16px;
}

footer .widget-2{

}

footer .widget-2 h3{
    color: #fff;
    font-size: 24px;

}

footer .widget-2 .link{
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

footer .widget-2 .link:hover{
    color: #F36A10;
    transition: 0.4s;
}

.bottom-footer{
    padding: 10px 0;
    background-color: #000;
    color: #fff;
}

.bottom-footer p{
    margin: 0;
}

.bottom-footer p span{
    
}


.bottom-footer p a{
    color: #fff;
    text-decoration: none;
}

.bottom-footer p a:hover{
    color: #F36A10;
    transition: 0.5s;
}

.margin-left{
    margin-left: 100px!important;
}

.inline-icon{
    display: flex;
}

.bottom-footer .social-icon{
    display: inline-block;
}

.bottom-footer .social-icon ul{
     display: inline-block;
     padding-left: 0px;
     margin: 0;
}

.bottom-footer .social-icon ul li{
    list-style: none;
    display: inline;
    
}

.bottom-footer .social-icon ul li i{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50px;
}
.bottom-footer .social-icon ul li i:hover{
    background: #0e76a8;
    transition: 0.5s;
}




/* How It Works CSS */

.breadcrumb-bg{
    background: url(../images/bg-2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
     margin-top: 115px;
}

.breadcrumb-bg h4{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.home-icon{
    margin-right: 15px;
}

.angle{
    margin: 0 10px;
    color: #f8800b;
    padding-top: 8px;

}

.breadcrumb-bg .breadcrumb{
    margin-left: 15px;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
}

.breadcrumb-bg .breadcrumb li a{
    color: #f8800b;
    text-decoration: none;
}

.breadcrumb-bg .breadcrumb .breadcrumb-item{
    margin-top: 5px;
    font-size: 18px;
    color: #f8800bad;
}


.how-works h6{
    padding: 0 10%;
    line-height: 1.5;

}

.col-bg{
    background: url(../images/hw-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 15px;
    margin: 10px;
    
}


.col-bg .direction-icon{}

.col-bg .direction-icon li{
   
    list-style: none;
    position: absolute;
    right: 10%;
    top: 7%;
    color: #fff;
}

.col-bg .direction-icon li i{}

.col-bg .box{
    position: absolute;
    top: 20%;
    left: 0%;
    text-align: center;
    padding: 0 40px;
    
}


.col-bg .box li{
     list-style: none;
     margin-bottom: 20px;
     
}

.col-bg .box li i{
    border: 1px solid #fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 100px;
    background: #fff;
    color: #F37421;
}


.col-bg .box h4{
    color: #fff;
    font-weight: 500;
}

.col-bg .box p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}







.img-box{
    position: relative;
}

.img-box .testimonial-img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.img-box .quote-icon{
    position: absolute;
    left: 53%;
    bottom: 2%;
    border: 1px solid #F36A10;
    padding: 10px;
    border-radius: 100px;
    background: #F36A10;
    color: #fff;
}

.donor{
    background-color: #FFF8F1;
}

.testimonial{
    padding: 3% 10%;
    text-align: center;
}

.testimonial p{
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    font-weight: 500;
}

.testimonial h5{
    color: #F36A10;
    font-size: 24px;
    font-weight: 600px;
}

.testimonial h6{
    font-size: 22px;
    font-weight: 600px;
}

.testimonial-slide{}

.testimonial-slide .testimonial-indicators{}

.testimonial-slide .testimonial-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: #F36A10;
}

.testimonial-indicators.active{
    border-color: #F36A10! important;
    background-color: #F36A10! important;
}


.hw-card{
    border-radius: 10px;
}

.hw-card .card-body{}

.hw-card .card-body .calender{}

.hw-card .card-body .calender ul{
    padding: 0;
}


.hw-card .card-body .calender ul li{
    list-style: none!important;
}

.hw-card .card-body .calender ul li i{
    color: #f36a10;
}

.hw-card .card-body .card-title{
    font-size: 14px;
    font-weight: 600;
}

.hw-card .card-body .card-text{
    font-size: 12px;
    color: #7a7a7a;
}

.hw-card .card-body .media{}

.hw-card .card-body .media .user-img{
    width: 40px;
    height: 40px;
}


.hw-card .card-body .media .media-body{}

.hw-card .card-body .media .media-body .name-text{
    font-weight: 600;
    border-radius: 100px;
}

.stories1-bg{
    background: url(../images/stories1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.stories2-bg{
    background: url(../images/stories2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.stories3-bg{
    background: url(../images/stories3.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.stories4-bg{
    background: url(../images/stories4.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.stories5-bg{
    background: url(../images/stories5.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.stories6-bg{
    background: url(../images/stories6.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.stories7-bg{
    background: url(../images/stories1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.stories8-bg{
    background: url(../images/stories2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.story hr{

    background-color: #F36A10;
    height: 2px;
    width: 8%;
    text-align: center;
    margin-bottom: 30px;
}


/* Details Section CSS */

.details{
    padding: 50px 0;
}

.details .details-box{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #a7a7a7 ;
}

.details .details-box .large-img{}

.details .details-box .large-img img{
    width: 510px;
    border-radius: 20px;
}

.details .details-box .thumbnail{}

.details .details-box .thumbnail img{
     border-radius: 20px;
     margin-bottom: 20px;
}

.details .details-box .thumbnail iframe{
    border-radius: 20px;
}

.details .details-box .title{}

.details .details-box .title ul{
    padding: 0;
    margin-bottom: 10px;
}

.details .details-box .title ul li{
    list-style: none;
}

.details .details-box .title ul li span{
    font-size: 22px;
    margin-left: 10px;
}


.details .details-box .title ul li i{}

.details .details-box .title h3{
    font-size: 32px;
    font-weight: 500;
    color: #F36A10;
}

.details .details-box .title .media{}

.details .details-box .title .media img{}

.details .details-box .title .media .media-body{}

.details .details-box .title .media .media-body .name-text{
    font-size: 18px;
}


.details .details-box .inline-icon{
    margin-top: 20%;
}

.details .details-box .inline-icon p{
    font-size: 20px;
    font-weight: 600;
}

.details .details-box .inline-icon .social-icon{
    
}

.details .details-box .inline-icon .social-icon ul{
    display: inline-flex;
    padding: 0;
}

.details .details-box .inline-icon .social-icon ul li{
    list-style: none;
    margin: 0 3px;
}

.details .details-box .inline-icon .social-icon ul li .facebook{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #3b5998;
    border-radius: 50px;
    background-color: #3b5998;
    color: #fff;
}

.details .details-box .inline-icon .social-icon ul li .twitter{
     width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #00acee;
    border-radius: 50px;
    background-color: #00acee;
    color: #fff;
}

.details .details-box .inline-icon .social-icon ul li .linkedin{
     width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #0e76a8;
    border-radius: 50px;
    background-color: #0e76a8;
    color: #fff;
}

.details .details-box .inline-icon .social-icon ul li .youtube{
     width: 30px;
    height: 30px;
    line-height: 30px;  
    text-align: center;
    border: 1px solid #FF0000;
    border-radius: 50px;
    background-color:#FF0000;
    color: #fff;
}

.details .details-box .inline-icon .social-icon ul li .instagram{
     width: 30px;
    height: 30px;
    line-height: 30px;  
    text-align: center;
    border: 1px solid #e4405f;
    border-radius: 50px;
    background-color:#e4405f;
    color: #fff;
}


.details .details-box .icon-box{
    display: inline-flex;
    padding: 15px 0;
}

.details .details-box .icon-box ul{
    padding: 0;
    margin-right: 10px;
}

.details .details-box .icon-box ul li{
    list-style: none;
    font-size: 28px;
}

.details .details-box .icon-box ul li i{
    width: 45px;
    height: 45px;
    line-height: 45px;  
    text-align: center;
    border: 1px solid #ececec;
    border-radius: 50px;
    background-color:#ececec;
    color: #202020;
}

.details .details-box .icon-box .text-area{}

.details .details-box .icon-box .text-area h6{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    
}

.details .details-box .icon-box .text-area h5{
    font-weight: 600;
    font-size: 17px;
}

.details .details-box .text-area-img{}

.details .details-box .text-area-img img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.details .details-box p{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.details .details-box h3{
    font-weight: 600;
}

.details .details-box .col-adjust{
    padding-left: 0;
}

.details .details-box .donate-btn{
    font-size: 22px;
    padding: 5px 20px;
    background-color: #F36A10;
    border: 1px solid #F36A10;
}

.details .details-box .donate-btn:hover{
    background-color: #F8800B;
    border: 1px solid #F8800B;
    transition: .5s;
}

.details .details-box ul{
    padding: 0;
    
}

.details .details-box ul li{
    list-style: none;
}

.details .details-box ul li i{
    color: #a7a7a7;
}

.details .details-box ul li i:hover{
    color: #F36A10;
    transition: .5s;
}

.details .host{
    padding: 20px;
}

.details .host h3{
    
    
    font-weight: 600;
}

.details .host h4{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.cont-bg{
    background-color: #FFF8F1;
    padding: 0;
    border-radius: 20px;
}

.left-side{
    background-color: #fff;
    padding-right: 0;
}

.details .host .post p{
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 14px;
}

.details .host .post .post-btn{
    text-align: right;
}

.details .host .post .post-btn .contact-btn{
    padding: 5px 10px;
    border: 1px solid #000f30;
    background-color: #000f30;
    color: #fff;
}

.details .host .post .post-btn .contact-btn:hover{
    border: 1px solid #1743a3;
    background-color: #1743a3;
    transition: .5s;
}

.details .host .post{
    background-color: #b8c5d2;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
}

.details .host .post .media{}

.details .host .post .media .user-img{
    width: 50px;
    border-radius: 100px;
}

.details .host .post .media .media-body{}

.details .host .post .media .media-body .name-text{
    font-size: 18px;
    font-weight: 600;
}

.right-side{
    padding-left: 0;
}

.details .host .comments{
    color: #202020;
    background: #fff;
    margin-bottom: 20px;
}

.details .host .comments ul{
    padding: 0;
    margin-top: 5px;
}

.details .host .comments ul li{
    list-style: none;
    font-size: 24px;
}

.details .host .comments ul li i{
    color: #859196;
}

.details .host .comments ul li i:hover{
    color: #f36a10;
    transition: .5s;
}

.details .host .comments .media .media-body .name-text{}

.icon-adjust{
    padding: 0;
    text-align: center;
}

.col-padding{
    padding: 20px 40px;
}


























































